*,
*::before,
*::after {
    box-sizing: border-box
}

body {
    background-image: linear-gradient(90deg, #64b3f4, #c2e59c);
    font-family: 'Cascadia code';
    font-size: 1rem;
    color: #444;
}

#root {
    max-width: 450px;
    margin: 2rem auto;
    padding: 0 1rem;
}

form {
    display: flex;
    margin-bottom: 2rem;
}

[type="text"],
button {
    display: inline-block;
    -webkit-appearance: none;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background: #007bff;
    color: white;
    border: 2px solid #007bff;
    margin: 0 .5rem;
    font-family: 'Cascadia code';
}

input {
    font-family: 'Cascadia code';
}

[type="text"] {
    width: 100%;
}

[type="text"]:active,
[type="text"]:focus {
    outline: 0;
    border: 2px solid #007bff;
}

[type="checkbox"] {
    margin-right: 1rem;
    font-size: 2rem;
}

h1 {
    color: #222;
    font-family: 'Cascadia code';
}

ul {
    padding: 0;
    font-family: 'Cascadia code';
}

li {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #f4f4f4;
    border-radius: 4px;
}

li span {
    display: inline-block;
    padding: .5rem;
    width: 250px;
    border-radius: 4px;
    border: 2px solid transparent;
}

li span:hover {
    background: rgba(179, 215, 255, 0.52);
}

li span:focus {
    outline: 0;
    border: 2px solid #007bff;
    background: rgba(179, 207, 255, 0.52)
}